@font-face
  font-family 'm-iconfont'
  src url(font-path('../assets/fonts/mobile_icon.eot')) /* IE9*/
  src url(font-path('../assets/fonts/mobile_icon.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
  url(font-path('../assets/fonts/mobile_icon.woff')) format('woff'), /* chrome, firefox */
  url(font-path('../assets/fonts/mobile_icon.ttf')) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(font-path('../assets/fonts/mobile_icon.svg#iconfont')) format('svg') /* iOS 4.1- */

.m-iconfont
  font-family 'm-iconfont'
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -webkit-text-stroke-width 0.2px
  -moz-osx-font-smoothing grayscale

  &.icon-shipin::before
    content '\e600'

  &.icon-shouye::before
    content '\e604'

  &.icon-huodong::before
    content '\e605'

  &.icon-rocket::before
    content '\e601'

  &.icon-app::before
    content '\e610'

  &.icon-search::before
    content '\e602'

  &.icon-gengduo::before
    content '\e606'

  &.icon-close::before
    content '\e607'

  &.icon-shijian::before
    content '\e608'

  &.icon-bulb::before
    content '\e609'

  &.icon-ok::before
    content '\e60a'

  &.icon-like::before
    content '\e60b'

  &.icon-arrow::before
    content '\e60c'

  &.icon-weibo::before
    content '\e60d'

  &.icon-linkedin::before
    content '\e60f'

  &.icon-twitter::before
    content '\e60e'