@font-face
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1461305987_884687.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1461305987_884687.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1461305987_884687.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1461305987_884687.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1461305987_884687.svg#iconfont') format('svg'); /* iOS 4.1- */
.iconfont
  font-family: 'iconfont'
  font-size: 16px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale
  &.icon-close::before
    content: '\e600'
  &.icon-search::before
    content: '\e603'
  &.icon-arrow-up::before
    content: '\e607'
  &.icon-twitter::before
    content: '\e601'
  &.icon-weibo::before
    content: '\e605'
  &.icon-wechat::before
    content: '\e604'
  &.icon-rss::before
    content: '\e606'
  &.icon-pinglun::before
    content: '\e60b'
  &.icon-time::before
    content: '\e608'
  &.icon-arrow::before
    content: '\e609'
  &.icon-dot::before
    content: '\e60a'
  &.icon-ok::before
    content: '\e611'
  &.icon-bulb::before
    content: '\e613'
  &.icon-linkedin::before
    content: '\e60d'
  &.icon-like::before
    content: '\e60e'
  &.icon-arrow-left::before
    content: '\e602'
  &.icon-arrow-right::before
    content: '\e60c'
  &.icon-facebook::before
    content: '\e610'
  &.icon-xiangmulan::before
    content: '\e614'
  &.icon-open-book::before
    content: '\e607'
  &.icon-close-book::before
    content: '\e612'
  &.icon-back-top::before
    content: '\e618'
  &.icon-message::before
    content: '\e61a'
  &.icon-youku::before
    content: '\e61c'
  &.icon-qqvideo::before
    content: '\e61d'
  &.icon-sohu::before
    content: '\e61e'
  &.icon-iqiyi::before
    content: '\e61b'
  &.icon-player::before
    content: '\e621'